@charset "UTF-8";

//======================================================================================================================
//
//                                                    Imports fonts
//
//======================================================================================================================
@import "framework/fuentes/fuentes";

//======================================================================================================================
//
//                                                    Variables
//
//======================================================================================================================

@import "framework/settings/colors";
@import "framework/settings/defaults";
@import "framework/settings/base";
//======================================================================================================================
//
//                                                    Mixin
//
//======================================================================================================================

@import "framework/tools/mixins";
@import "framework/tools/functions";
@import "framework/tools/prefix";

//======================================================================================================================
//
//                                                    Importar secciones
//
//======================================================================================================================


//======================================================================================================================
//
//                                                    Elementos
//
//======================================================================================================================


//======================================================================================================================
//
//                                                    Identificadores
//
//======================================================================================================================

#view-source {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 900;
}


#mdl-card-dashboard-message {
    max-height: 250px;
}

//======================================================================================================================
//
//                                                    Clases
//
//======================================================================================================================

.demo-avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}

.list-container-search {
    label {
        top: 20px;
    }
}

.personal-select {
    width: 100%;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid 1px #E8E8E8;
}

//======================================================================================================================
//
//                                                    Elementos con clases
//
//======================================================================================================================

//======================================================================================================================
//
//                                                  Media queries
//
//======================================================================================================================




